<h1>Listing users</h1>

<div style="padding:10px;">
    <div class="well well-small">
        <table class="table table-striped">
          <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Is active</th>
            <th>Is deleted</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.is_active %></td>
            <td><%= user.is_deleted %></td>
            <td><%= link_to 'Show', user, class:"btn" %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class:"btn" %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn" %></td>
          </tr>
        <% end %>
        </table>
    </div>
</div>
<br />

<%= link_to 'New User', new_user_path, class:"btn" %>
